<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [14]:
# Exercise 2: Create a markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [15]:
# Exercise 3: Create a markdown cell for an introduction

In this notebook Data Science Tools and Ecosystems are summarised.

**Objectives**
* List popular languages for Data Science
* List Data Science libraries
* Create a table of Data Science Tools
* Create markdown cells for arithmetic expressions

In [16]:
# Exercise 4: Create a markdown cell to list data science languages

1. Python
2. R
3. SQL

In [17]:
# Exercise 5: Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow

In [18]:
# Exercise 6: Create a markdown cell with a table of data science tools

|Data Science Tools|
|------------------|
|Jupyter |
|RStudio IDE|
|GitHub|

In [19]:
# Exercise 7: Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
# Exercise 8: Create a code cell to multiply and add numbers

In [21]:
# This is a simple arithmetic expression
(3*4)+5

17

In [22]:
# Exercise 9: Create a code cell to convert minutes to hours

In [23]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

In [24]:
# Exercise 11: Create a markdown cell to indicate the Author's name

## Author
Caoimhe Coveney McKeown